@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-color: #fafafa;
    background: url("https://www.publicdomainpictures.net/pictures/130000/nahled/green-gradient-background-1440541423YZK.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Ubunto', sans-serif;
}

i {
    float: right !important;
    padding: 5px 15px;
}

.add-task-button {
    margin-left: 10px !important;
    border-radius: 25px !important;
}

li:nth-child(odd) {
    background: #E9E9E9;
}

/* Styling for diffrent screen sizes */

@media (max-width: 480px) {
    .container {
        margin-top: auto !important;
    }
  }

@media (min-width: 769px) {
    li:hover {
        background: #aeaeae;
    }
}